.FrontPage{
    display: flex;
    justify-content: center;
}
canvas{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/background/home.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.forward{
    display: flex;
    width: 3%;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.700);
    transition: background-color 0.5s ease-out,width 0.5s ease-out;
}
.forward:hover{
    background-color: rgba(255, 255, 255, 0.900);
    width: 4%;
}
.forward svg{
    margin-left: 5px;
    cursor: pointer;
}