.FrontPage{
    display: flex;
    justify-content: center;
}
canvas{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/background/home.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}